<div class="container">
    <h2>System Control</h2>
    {{#each actions}}
        <div class="row p-1">
            <div class="col-2">
                <label class="font-weight-bold" for="{{this.[0]}}">{{this.[1]}}</label>
            </div>
            <div class="col-10">
                <input type="checkbox" class="control" id="{{this.[0]}}" onchange="runAction('{{this.[0]}}')" data-toggle="toggle" data-on="On" data-off="Off" data-onstyle="success" data-offstyle="danger">
            </div>
        </div>
    {{/each}}
</div>

<script src="/javascripts/control.js"></script>



