<h1>{{title}}</h1>

<div>
    <button name="light">Light</button>
    <button name="heater">Heater Mat</button>
    <button name="fillPump">Fill Pump</button>
    <button name="drainPump">Drain Pump</button>
    <button name="fan">Fan</button>
</div>
